<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      DevDactic Caching
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshUsers($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<ion-button (click)="refreshUsers()" expand="full">
  Load Users
</ion-button>
<ion-button (click)="loadChuckJoke(false)" expand="full">
  Load Joke
</ion-button>
<ion-button (click)="loadChuckJoke(true)" expand="full">
  Refresh Joke
</ion-button>

<ion-list>
  <ion-item *ngFor="let user of users">
    <ion-avatar>
      <img [src]="user.picture.medium" />
    </ion-avatar>
    <h2 class="ion-text-capitalize">{{user.name?.first}} {{user.name?.last}}</h2>
  </ion-item>
</ion-list>


</ion-content>
